<script type="text/javascript">
  localStorage.pageView = "about";
</script>

<div class="container">
<h1>这</h1>
<h1>里</h1>
<h1>需</h1>
<h1>要</h1>
<h1>一</h1>
<h1>个</h1>
<h1>网</h1>
<h1>页</h1>
<div class="text-right">
	<a id="hideEgg" href="/about/minigame" style="color:#ffffff">What do you find?!</a>
</div>
</div>