<div class="container row">

  <div class="col-md-6 col-lg-6">
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=450 src="http://music.163.com/outchain/player?type=1&id=3056517&auto=1&height=430"></iframe>
  </div>

  <div class="col-md-6 col-lg-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>FileName</th>
          <th>Description</th>
          <th>uploadUser</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="glyphicon glyphicon-eject"></span>&nbsp;
            <a href="/download?step=*">...</a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <% files.forEach(function(data){%>
          <tr>
        <td><a href=<%= "/download?step=" + data %>><%= data %></a></td>
        <td>&nbsp;</td>
        <td>Administrator</td>
      </tr>
    <% })%>
      </tbody>
    </table>
  </div>
</div>

